[Desktop Entry]
Name=KMidTest
Name[ca]=KMidTest
Name[da]=KMidTest
Name[de]=KMidTest
Name[en_GB]=KMidTest
Name[es]=KMidTest
Name[fr]=KMidTest
Name[it]=KMidTest
Name[nl]=Test voor KMid
Name[pt]=KMidTest
Name[pt_BR]=KMidTest
Name[sv]=KMidTest
Name[uk]=KMidTest
Name[x-test]=xxKMidTestxx
Exec=kmidtest -caption "%c"
Icon=kmid
Type=Application
GenericName=A KMidPart Application
GenericName[ca]=Una aplicació KMidPart
GenericName[da]=Et KMidPart-program
GenericName[de]=Eine KMidPart-Anwendung
GenericName[en_GB]=A KMidPart Application
GenericName[es]=Una aplicación KMidPart
GenericName[fr]=Une application KMidPart
GenericName[it]=Un'applicazione KMidPart
GenericName[nl]=Een KMidPart-programma
GenericName[pt]=Uma Aplicação do KMidPart
GenericName[pt_BR]=Um aplicativo do KMidPart
GenericName[sv]=Ett Kmid-delprogram
GenericName[uk]=Програма на основі KMidPart
GenericName[x-test]=xxA KMidPart Applicationxx
Terminal=false
