<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kmid_shell" version="1">
<MenuBar>
  <Menu name="file"><text>File</text>
    <Action name="file_open"/>
    <Separator/>
    <Action name="file_quit"/>
  </Menu>
  <Merge/>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
  <Action name="file_open"/>
  <Action name="file_quit"/>
  <Separator/>
  <Merge/>
</ToolBar>
</kpartgui>
