[Desktop Entry]
X-KDE-Library=kmid_alsa
X-KDE-PluginInfo-Author=Pedro Lopez-Cabanillas
X-KDE-PluginInfo-Email=plcl@users.sf.net
X-KDE-PluginInfo-Name=kmid_alsa
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=kmid
X-KDE-ServiceTypes=KMid/backend
Type=Service
X-PluginIdentifier=kmid_alsa
Name=ALSA sequencer backend
Name[bg]=Ядро сикуенсър на ALSA
Name[ca]=Dorsal seqüenciador per l'ALSA
Name[ca@valencia]=Dorsal seqüenciador per l'ALSA
Name[cs]=Podpůrná vrstva k sekvenceru ALSA
Name[da]=ALSA sequencer-motor
Name[de]=ALSA-Sequencer-Modul
Name[en_GB]=ALSA sequencer backend
Name[es]=Motor de secuenciador ALSA
Name[et]=ALSA sekventsija taustaprogramm
Name[fr]=Module de séquençage ALSA
Name[it]=Backend sequencer ALSA
Name[km]=កម្មវិធី​ផ្នែក​ខាង​ក្រោយ​នៃ​កម្មវិធី​ដាក់​លំដាប់ ALSA
Name[nb]=ALSA sekvenseringsmotor
Name[nds]=ALSA-Sequenzer-Hülpprogramm
Name[nl]=Backend voor ALSA-sequencer
Name[nn]=Ein DjVu-motor
Name[pt]=Infra-estrutura de sequências MIDI do ALSA
Name[pt_BR]=Infraestrutura do sequenciador ALSA
Name[ru]=Модуль поддержки секвенсера ALSA
Name[sr]=Зачеље секвенцера Алсе
Name[sr@ijekavian]=Зачеље секвенцера Алсе
Name[sr@ijekavianlatin]=Začelje sekvencera Alse
Name[sr@latin]=Začelje sekvencera Alse
Name[sv]=ALSA-sequencergränssnitt
Name[th]=แบ็กเอนด์ ซีเควนเซอร์ ALSA
Name[tr]=ALSA ardışımlayıcı (sequencer) arka ucu
Name[uk]=Сервер синтезатора ALSA
Name[x-test]=xxALSA sequencer backendxx
Name[zh_CN]=ALSA sequencer 后端
Comment=ALSA sequencer backend
Comment[bg]=Ядро сикуенсър на ALSA
Comment[ca]=Dorsal seqüenciador per l'ALSA
Comment[ca@valencia]=Dorsal seqüenciador per l'ALSA
Comment[cs]=Podpůrná vrstva k sekvenceru ALSA
Comment[da]=ALSA sequencer-motor
Comment[de]=ALSA-Sequencer-Modul
Comment[en_GB]=ALSA sequencer backend
Comment[es]=Motor de secuenciador ALSA
Comment[et]=ALSA sekventsija taustaprogramm
Comment[fr]=Module de séquençage ALSA
Comment[it]=Backend sequencer ALSA
Comment[km]=កម្មវិធី​ផ្នែក​ខាង​ក្រោយ​នៃ​កម្មវិធីដាក់​ជា​លំដាប់របស់ ALSA
Comment[nb]=ALSA sekvenseringsmotor
Comment[nds]=ALSA-Sequenzer-Hülpprogramm
Comment[nl]=Backend voor ALSA-sequencer
Comment[nn]=Ein DjVu-motor
Comment[pt]=Infra-estrutura de sequências MIDI do ALSA
Comment[pt_BR]=Infraestrutura do sequenciador ALSA
Comment[ru]=Модуль поддержки секвенсера ALSA
Comment[sr]=Зачеље секвенцера Алсе
Comment[sr@ijekavian]=Зачеље секвенцера Алсе
Comment[sr@ijekavianlatin]=Začelje sekvencera Alse
Comment[sr@latin]=Začelje sekvencera Alse
Comment[sv]=ALSA-sequencergränssnitt
Comment[th]=แบ็กเอนด์ ซีเควนเซอร์ ALSA
Comment[tr]=ALSA ardışımlayıcı (sequencer) arka ucu
Comment[uk]=Сервер синтезатора ALSA
Comment[x-test]=xxALSA sequencer backendxx
Comment[zh_CN]=ALSA sequencer 后端
