[Desktop Entry]
X-KDE-Library=kmid_mac
X-KDE-PluginInfo-Author=Pedro Lopez-Cabanillas
X-KDE-PluginInfo-Email=plcl@users.sf.net
X-KDE-PluginInfo-Name=kmid_mac
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=kmid
X-KDE-ServiceTypes=KMid/backend
Type=Service
X-PluginIdentifier=kmid_mac
Name=Mac OSX backend
Name[bg]=Ядро Mac OSX
Name[ca]=Dorsal del Mac OSX
Name[ca@valencia]=Dorsal del Mac OSX
Name[cs]=Podpůrná vrstva Mac OSX
Name[da]=Motor til Mac OSX
Name[de]=Mac-OSX-MIDI-Modul
Name[en_GB]=Mac OSX backend
Name[es]=Motor Mac OSX
Name[et]=Mac OSX taustaprogramm
Name[fr]=Module Mac OSX
Name[it]=Backend Mac OSX
Name[km]=កម្មវិធី​ផ្នែក​ខាងក្រោយ​របស់ Mac OSX
Name[nb]=Mac OSX bakgrunnsmotor
Name[nl]=Backend voor Mac OSX
Name[pt]=Infra-estrutura do MacOS X
Name[pt_BR]=Infraestrutura do Mac OSX
Name[ru]=Модуль поддержки Mac OS X
Name[sr]=Зачеље МекОС‑а X
Name[sr@ijekavian]=Зачеље МекОС‑а X
Name[sr@ijekavianlatin]=Začelje MacOS‑a X
Name[sr@latin]=Začelje MacOS‑a X
Name[sv]=Max OSX-gränssnitt
Name[tr]=Mac OSX arka ucu
Name[uk]=Сервер Mac OSX
Name[x-test]=xxMac OSX backendxx
Name[zh_CN]=Mac OSX 后端
Comment=Mac OSX backend
Comment[bg]=Ядро Mac OSX
Comment[ca]=Dorsal del Mac OSX
Comment[ca@valencia]=Dorsal del Mac OSX
Comment[cs]=Podpůrná vrstva Mac OSX
Comment[da]=Motor til Mac OSX
Comment[de]=Mac-OSX-MIDI-Modul
Comment[en_GB]=Mac OSX backend
Comment[es]=Motor Mac OSX
Comment[et]=Mac OSX taustaprogramm
Comment[fr]=Module Mac OSX
Comment[it]=Backend Mac OSX
Comment[km]=កម្មវិធី​ផ្នែក​ខាងក្រោយ​របស់ Mac OSX
Comment[nb]=Mac OSX bakgrunnsmotor
Comment[nl]=Backend voor Mac OSX
Comment[pt]=Infra-estrutura do MacOS X
Comment[pt_BR]=Infraestrutura do Mac OSX
Comment[ru]=Модуль поддержки Mac OS X
Comment[sr]=Зачеље МекОС‑а X
Comment[sr@ijekavian]=Зачеље МекОС‑а X
Comment[sr@ijekavianlatin]=Začelje MacOS‑a X
Comment[sr@latin]=Začelje MacOS‑a X
Comment[sv]=Max OSX-gränssnitt
Comment[tr]=Mac OSX arka ucu
Comment[uk]=Сервер Mac OSX
Comment[x-test]=xxMac OSX backendxx
Comment[zh_CN]=Mac OSX 后端
