[Desktop Entry]
X-KDE-Library=kmid_dummy
X-KDE-PluginInfo-Author=Pedro Lopez-Cabanillas
X-KDE-PluginInfo-Email=plcl@users.sf.net
X-KDE-PluginInfo-Name=kmid_dummy
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=kmid
X-KDE-ServiceTypes=KMid/backend
Type=Service
X-PluginIdentifier=kmid_dummy
Name=Dummy MIDI backend
Name[bg]=Пробно ядро за MIDI
Name[ca]=Dorsal de MIDI simulat
Name[ca@valencia]=Dorsal de MIDI simulat
Name[cs]=falešná podpůrná vrstva MIDI
Name[da]=Attrap MIDI-motor
Name[de]=Dummy-MIDI-Modul
Name[en_GB]=Dummy MIDI backend
Name[es]=Motor MIDI vacío
Name[et]=MIDI libataustaprogramm
Name[fr]=Module MIDI factice
Name[it]=Backend MIDI dummy
Name[km]=កម្មវិធី​ផ្នែក​ខាងក្រោយ Dummy MIDI
Name[nb]=Attrapp MIDI-motor
Name[nl]=Dummy MIDI-backend
Name[pt]=Infra-estrutura MIDI de testes
Name[pt_BR]=Infraestrutura MIDI fictícia
Name[ru]=Тестовый модуль поддержки MIDI
Name[sr]=Лажно МИДИ зачеље
Name[sr@ijekavian]=Лажно МИДИ зачеље
Name[sr@ijekavianlatin]=Lažno MIDI začelje
Name[sr@latin]=Lažno MIDI začelje
Name[sv]=MIDI-testbakgrundsprogram
Name[tr]=Sahte MIDI arka ucu
Name[uk]=Тестовий сервер MIDI
Name[x-test]=xxDummy MIDI backendxx
Name[zh_CN]=虚拟 MIDI 后端
Comment=Dummy MIDI backend
Comment[bg]=Пробно ядро за MIDI
Comment[ca]=Dorsal MIDI simulat
Comment[ca@valencia]=Dorsal MIDI simulat
Comment[cs]=falešná podpůrná vrstva MIDI
Comment[da]=Attrap MIDI-motor
Comment[de]=Dummy-MIDI-Modul
Comment[en_GB]=Dummy MIDI backend
Comment[es]=Motor MIDI vacío
Comment[et]=MIDI libataustaprogramm
Comment[fr]=Module MIDI factice
Comment[it]=Backend MIDI dummy
Comment[km]=កម្មវិធី​ផ្នែកខាង​ក្រោយ Dummy MIDI
Comment[nb]=Attrapp MIDI-motor
Comment[nl]=Dummy MIDI-backend
Comment[pt]=Infra-estrutura MIDI de testes
Comment[pt_BR]=Infraestrutura MIDI fictícia
Comment[ru]=Тестовый модуль поддержки MIDI
Comment[sr]=Лажно МИДИ зачеље
Comment[sr@ijekavian]=Лажно МИДИ зачеље
Comment[sr@ijekavianlatin]=Lažno MIDI začelje
Comment[sr@latin]=Lažno MIDI začelje
Comment[sv]=MIDI-testbakgrundsprogram
Comment[tr]=Sahte MIDI arka ucu
Comment[uk]=Тестовий сервер MIDI
Comment[x-test]=xxDummy MIDI backendxx
Comment[zh_CN]=虚拟 MIDI 后端
