[Desktop Entry]
X-KDE-Library=kmid_win
X-KDE-PluginInfo-Author=Pedro Lopez-Cabanillas
X-KDE-PluginInfo-Email=plcl@users.sf.net
X-KDE-PluginInfo-Name=kmid_win
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=kmid
X-KDE-ServiceTypes=KMid/backend
Type=Service
X-PluginIdentifier=kmid_win
Name=Windows MIDI backend
Name[bg]=Ядро Windows MIDI
Name[ca]=Dorsal de MIDI del Windows
Name[ca@valencia]=Dorsal de MIDI del Windows
Name[cs]=Podpůrná vrstva MIDI pro Windows
Name[da]=MIDI-motor til Windows
Name[de]=Windows-MIDI-Modul
Name[en_GB]=Windows MIDI backend
Name[es]=Motor MIDI de Windows
Name[et]=Windows MIDI taustaprogramm
Name[fr]=Module MIDI de Windows
Name[it]=Backend MIDI Windows
Name[km]=កម្មវិធី​ផ្នែក​ខាងក្រោយ​មីឌី​របស់​វីដូ
Name[nb]=Windows MIDI-motor
Name[nl]=MIDI-backend voor Windows
Name[pt]=Infra-estrutura MIDI do Windows
Name[pt_BR]=Infraestrutura MIDI do Windows
Name[ru]=Модуль поддержки MIDI в Windows
Name[sr]=Виндоузово МИДИ зачеље
Name[sr@ijekavian]=Виндоузово МИДИ зачеље
Name[sr@ijekavianlatin]=Windowsovo MIDI začelje
Name[sr@latin]=Windowsovo MIDI začelje
Name[sv]=Windows MIDI-bakgrundsprogram
Name[tr]=Windows MIDI arka ucu
Name[uk]=Сервер MIDI Windows
Name[x-test]=xxWindows MIDI backendxx
Name[zh_CN]=Windows MIDI 后端
Comment=Windows MIDI backend
Comment[bg]=Ядро Windows MIDI
Comment[ca]=Dorsal de MIDI del Windows
Comment[ca@valencia]=Dorsal de MIDI del Windows
Comment[cs]=Podpůrná vrstva MIDI pro Windows
Comment[da]=MIDI-motor til Windows
Comment[de]=Windows-MIDI-Modul
Comment[en_GB]=Windows MIDI backend
Comment[es]=Motor MIDI de Windows
Comment[et]=Windows MIDI taustaprogramm
Comment[fr]=Module MIDI de Windows
Comment[it]=Backend MIDI Windows
Comment[km]=កម្មវិធី​ផ្នែក​ខាងក្រោយ​មីឌី​របស់​វីនដូ
Comment[nb]=Windows MIDI-motor
Comment[nl]=MIDI-backend voor Windows
Comment[pt]=Infra-estrutura MIDI do Windows
Comment[pt_BR]=Infraestrutura MIDI do Windows
Comment[ru]=Модуль поддержки MIDI в Windows
Comment[sr]=Виндоузово МИДИ зачеље
Comment[sr@ijekavian]=Виндоузово МИДИ зачеље
Comment[sr@ijekavianlatin]=Windowsovo MIDI začelje
Comment[sr@latin]=Windowsovo MIDI začelje
Comment[sv]=Windows MIDI-bakgrundsprogram
Comment[tr]=Windows MIDI arka ucu
Comment[uk]=Сервер MIDI Windows
Comment[x-test]=xxWindows MIDI backendxx
Comment[zh_CN]=Windows MIDI 后端
