[Desktop Entry]
X-KDE-Library=kmid_part
X-KDE-PluginInfo-Author=Pedro Lopez-Cabanillas
X-KDE-PluginInfo-Email=plcl@users.sf.net
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=KParts/ReadOnlyPart,KMediaPlayer/Engine,KMediaPlayer/Player
MimeType=audio/x-karaoke;audio/x-midi;audio/midi;
Type=Service
Icon=kmid
InitialPreference=9
Name=KMidPart
Name[ca]=KMidPart
Name[da]=KMidPart
Name[de]=KMidPart
Name[en_GB]=KMidPart
Name[es]=KMidPart
Name[fr]=KMidPart
Name[it]=KMidPart
Name[nl]=KMid-deel
Name[pt]=KMidPart
Name[pt_BR]=KMidPart
Name[sv]=KMid-delprogram
Name[uk]=KMidPart
Name[x-test]=xxKMidPartxx
GenericName=KDE4 MIDI/Karaoke Player Part
GenericName[ca]=Una part del reproductor MIDI/Karaoke per al KDE 4
GenericName[da]=En KDE 4-baseret MIDI-/karaokeafspiller-Part
GenericName[de]=MIDI/Karaoke-Spieler-KPart
GenericName[en_GB]=KDE4 MIDI/Karaoke Player Part
GenericName[es]=Un componente de reproductor Midi/Karaoke para KDE4
GenericName[fr]=Élément du lecteur MIDI / Karaoké de KDE4
GenericName[it]=Componente del riproduttore Midi/Karaoke per KDE4
GenericName[nl]=Een KDE 4 MIDI/Karaokespeler-deel
GenericName[pt]=Um componente de leitura MIDI/Karaoke para o KDE4
GenericName[pt_BR]=Componente do reprodutor de MIDI/karaokê do KDE4
GenericName[sv]=KDE4 MIDI- och Karaoke-delprogram
GenericName[uk]=Модуль програвача MIDI/Karaoke для KDE4
GenericName[x-test]=xxKDE4 MIDI/Karaoke Player Partxx
