[Desktop Entry]
Name=KMid
Name[ar]=ميد ك
Name[be]=KMid
Name[ca]=KMid
Name[cs]=KMid
Name[csb]=KMid
Name[da]=KMid
Name[de]=KMid
Name[el]=KMid
Name[en_GB]=KMid
Name[eo]=KMid
Name[es]=KMid
Name[et]=KMid
Name[fr]=KMid
Name[ga]=KMid
Name[gl]=KMid
Name[hi]=केमिड
Name[hne]=केमिड
Name[hr]=KMid
Name[hu]=KMid
Name[it]=KMid
Name[ja]=KMid
Name[km]=KMid
Name[ko]=KMid
Name[ku]=KMid
Name[lt]=KMid
Name[lv]=KMid
Name[ml]=കെമിഡ്
Name[nb]=KMid
Name[nds]=KMid
Name[nl]=KMid
Name[nn]=KMid
Name[oc]=KMid
Name[pa]=ਕੇਮਿਡ
Name[pl]=KMid
Name[pt]=KMid
Name[pt_BR]=KMid
Name[ro]=KMid
Name[ru]=KMid
Name[sv]=KMid
Name[th]=KMid
Name[tr]=KMid
Name[uk]=KMid
Name[x-test]=xxKMidxx
Name[zh_CN]=KMid
Name[zh_TW]=KMid
Exec=kmid %u
Icon=kmid
Type=Application
MimeType=audio/x-karaoke;audio/x-midi;audio/midi;
GenericName=A KDE4 MIDI/Karaoke Player
GenericName[bg]=Програма за MIDI/Karaoke за KDE
GenericName[ca]=Un reproductor MIDI/Karaoke per al KDE 4
GenericName[ca@valencia]=Un reproductor MIDI/Karaoke per al KDE 4
GenericName[cs]=Přehrávač MIDI/Karaoke pro KDE4
GenericName[da]=En KDE 4-baseret MIDI-/karaoke-afspiller 
GenericName[de]=Ein MIDI/Karaoke-Spieler für KDE 4
GenericName[en_GB]=A KDE4 MIDI/Karaoke Player
GenericName[es]=Un reproductor de Midi/Karaoke para KDE4
GenericName[et]=KDE4 MIDI/karaoke mängija
GenericName[fr]=Lecteur MIDI / Karaoké pour KDE4
GenericName[it]=Riproduttore Midi/Karaoke per KDE4
GenericName[km]=កម្មវិធីចាក់​ខារ៉ាអូខេ​/មីឌីរបស់ KDE4
GenericName[nb]=MIDI-/karaokefilspiller for KDE 4
GenericName[nds]=En Midi- un Karaoke-Afspeler för KDE-4
GenericName[nl]=Een KDE 4 MIDI/Karaokespeler
GenericName[nn]=MIDI-/karaokefilspelar
GenericName[pt]=Um leitor de MIDI/Karaoke para o KDE4
GenericName[pt_BR]=Um reprodutor de MIDI/karaokê do KDE4
GenericName[ru]=Проигрыватель MIDI/Karaoke для KDE 4
GenericName[sr]=Караоке/МИДИ плејер за КДЕ 4
GenericName[sr@ijekavian]=Караоке/МИДИ плејер за КДЕ 4
GenericName[sr@ijekavianlatin]=Karaoke/MIDI plejer za KDE 4
GenericName[sr@latin]=Karaoke/MIDI plejer za KDE 4
GenericName[sv]=En MIDI- och Karaoke-spelare för KDE
GenericName[th]=เครื่องเล่นสื่อมิดี้/คาราโอเกะของ KDE4
GenericName[tr]=KDE4 MIDI/Karaoke Oynatıcı
GenericName[uk]=Програвач MIDI/Karaoke для KDE4
GenericName[x-test]=xxA KDE4 MIDI/Karaoke Playerxx
GenericName[zh_CN]=KDE4 MIDI/Karaoke 播放器
Terminal=false
Categories=Qt;KDE;AudioVideo;X-KDE-More;Audio;Music;Midi;Player;
